body {
    overflow: hidden;
}
.App {
    height: 100vh;
    overflow: hidden;
    min-height: 100vh;
    background-color: #000;
    font: 1.3rem Inconsolata, monospace;
    font-size: calc(10px + 2vmin);
    padding-left: 2rem;
    color: #1bff80;
}

.board-container {
    display: flex;
}

.disp-container {
    display: flex;
    flex-direction: column;
}

.disp-item {
    margin-top: 1rem;
    order: 1;
}

.board-item {
    order: 0;
}

.input-item {
    order: 1;
}

.terminal-line {
    color: #1bff80;
    background: transparent;
    border: none;
    font: 1.3rem Inconsolata, monospace;
}

input.terminal-line {
    width: 0.5ch;
}
input:focus {
    outline: none;
}

.screen {
    animation: colorPulse 5s infinite ease-in-out;
    background-image: radial-gradient(#444, #111);
    box-shadow: 0 0 5vmin 1vmin #000 inset;
    box-sizing: border-box;
    font-family: "Fira Mono", monospace;
    font-size: 20px;
    height: 100vh;
    overflow: hidden;
    padding: 10vmin;
    width: 100vw;
}

.screen:before {
    animation: wave 10s infinite ease-in-out;
    content: "";
    height: 20vh;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    z-index: 1;
}

.screen:after {
    background-image: linear-gradient(transparent, transparent 3px, #222);
    background-size: 4px 4px;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

p:last-child:after {
    animation: blink 1s infinite;
    content: "_";
}

@keyframes colorPulse {
    0%,
    100% {
        color: #0c0;
    }
    48%,
    52% {
        color: #090;
    }
    50% {
        color: #060;
    }
}

@keyframes wave {
    0% {
        box-shadow: 0 -10vh 20vh #0c0;
        top: -100vh;
    }
    48%,
    52% {
        box-shadow: 0 -10vh 20vh #090;
    }
    50% {
        box-shadow: 0 -10vh 20vh #060;
    }
    100% {
        box-shadow: 0 -10vh 20vh #0c0;
        top: 200vh;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
